<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\User-09\Documents\JavaFx app\App à test\app.jar</jar>
  <outfile>C:\Users\User-09\Documents\JavaFx app\App à test\app.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\User-09\Documents\JavaFx app\App à test\icone.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path &quot;.\javafx\lib&quot; --add-modules javafx.controls,javafx.fxml</opt>
  </jre>
</launch4jConfig>